.column-container {
	display: flex;
}
.column {
	flex-basis: 0;
}
.slide-container {
	background: #FFFFFF;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.38);
	padding: 15px;
	display: flex;
	align-items: center;
	min-height: 48px;
	min-width: 350px;
	margin-right: 10px;
	margin-top: 10px;
	flex-basis: 0;
}
mat-form-field {
	min-width: 350px;
	margin-right: 10px;
}
.slider {
	display: flex;
	width: 100%;
}
.row {
	display: flex;
	flex-wrap: wrap;
	min-height: 59.5px;
	align-items: center;
	> * {
		flex-grow: 1;
		flex-basis: 0;
	}
}
.full-width {
	width: 100%;
}
.flex-start {
	align-items: flex-start;
}
.column {
	flex-grow: 1;
	padding: 15px;
}
.extra-pad {
	padding-bottom: 21.5px;
}
.shipmondo-value {
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 500;
}

