<div class="container" *ngIf="order$|async; let state">
	<h2>Edit click & collect pick-up location</h2>
	<mat-selection-list multiple="false" *ngIf="!state.loading">
		<mat-list-option *ngFor="let opt of state.availableClickCollectLocation" (click)="selectCCLocation(opt)">
			<div matListItemTitle>{{opt.name}}</div>
			<div matListItemLine>
				<span>{{opt.address.addressOne}}</span>
				<span>{{opt.address.addressTwo}}</span>
				<span>{{opt.address.city}}</span>
				<span>{{opt.address.state}}</span>
				<span>{{opt.address.country.alpha2}} {{opt.address.zip}}</span>
			</div>
		</mat-list-option>
	</mat-selection-list>
	<div *ngIf="state.loading" class="spinner">
		<mat-spinner color="primary"></mat-spinner>
	</div>
	<div class="action-row">
		<span class="spacer"></span>
		<button mat-raised-button (click)="close()">
			<mat-icon>close</mat-icon>
			Close
		</button>
	</div>
</div>
