<app-toolbar></app-toolbar>
<div class="page-container" *ngIf="login$|async; let login">
	<div class="reset-wrapper">
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					<h1>Reset Password</h1>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<ng-container *ngIf="login.resetStage !== 'otk-not-present' && login.resetStage !== 'success'">
					<form class="form-container" (ngSubmit)="saveNewPassword(passwordInput.value)">
						<mat-form-field appearance="outline">
							<mat-label>New Password</mat-label>
							<input matInput type="password" #passwordInput required placeholder="Enter your new password">
							<mat-error>Please type your new password</mat-error>
						</mat-form-field>

						<button mat-raised-button color="primary" type="submit">Save New Password</button>
					</form>
				</ng-container>

				<ng-container *ngIf="login.resetStage === 'success'">
					<mat-icon color="primary">check_circle</mat-icon>
					<p>Password reset successfully</p>
					<a mat-button [routerLink]="paths.LOGIN">Go to Login</a>
				</ng-container>

				<ng-container *ngIf="login.resetStage === 'otk-not-present'">
					<mat-icon color="warn">error</mat-icon>
					<p>It appears you reached this page accidentally</p>
					<a mat-button [routerLink]="paths.REQUEST_PASSWORD">Request a new password reset email</a>
				</ng-container>

				<p *ngIf="login.message">{{ login.message }}</p>
			</mat-card-content>
		</mat-card>
	</div>
</div>
