@use '@angular/material' as mat;

.page-container {
  display: flex;
 //align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.reset-wrapper {
  width: 100%;
  max-width: 400px;
  margin-top: 100px;
}

mat-card {
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

mat-card-header {
  justify-content: center;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

mat-form-field {
  width: 100%;
}

button[type="submit"] {
  margin-top: 1rem;
}

mat-icon {
  font-size: 48px;
  height: 48px;
  width: 48px;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

mat-card-actions {
  justify-content: center;
  padding-top: 1rem;
}

a {
  color: mat.m2-get-color-from-palette(mat.$m2-blue-palette, 500);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
