<app-toolbar></app-toolbar>
<div class="page-container" *ngIf="login$ | async as login">
	<div class="reset-wrapper">
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					<h1>Reset Password</h1>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<ng-container *ngIf="login.requestStage === 'request' || login.requestStage === 'error'">
					<p>Enter your email address to receive a password reset link.</p>
					<form class="form-container" (ngSubmit)="requestResetEmail(emailInput.value)">
						<mat-form-field appearance="outline">
							<mat-label>Email</mat-label>
							<input matInput type="email" #emailInput required placeholder="Enter your email">
							<mat-error>Please provide a valid email address</mat-error>
							<mat-hint>The email must match the one used in the signup process</mat-hint>
						</mat-form-field>

						<button mat-raised-button color="primary" type="submit">Request Reset Email</button>
					</form>
				</ng-container>

				<ng-container *ngIf="login.requestStage === 'success'">
					<mat-icon color="primary">check_circle</mat-icon>
					<p>Please check your email for further instructions.</p>
				</ng-container>

				<ng-container *ngIf="login.requestStage === 'error'">
					<mat-icon color="warn">error</mat-icon>
					<p>An error occurred requesting a password reset email. Please try again.</p>
				</ng-container>
			</mat-card-content>
			<mat-card-actions>
				<a mat-button [routerLink]="Paths.LOGIN">Back to Login</a>
			</mat-card-actions>
		</mat-card>
	</div>
</div>
