<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="container">
	<div class="header">
		<h4>Update password</h4>
	</div>
	<mat-form-field appearance="fill">
		<mat-label>New password</mat-label>
		<input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
		<button mat-icon-button matSuffix (click)="togglePasswordVisibility('password')" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
			<mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
		</button>
		<mat-error *ngIf="passwordForm.get('password')?.hasError('required')">
			Password is required
		</mat-error>
		<mat-error *ngIf="passwordForm.get('password')?.hasError('minlength')">
			Password must be at least 8 characters long
		</mat-error>
		<mat-error *ngIf="passwordForm.get('password')?.hasError('passwordStrength')">
			Password must contain at least one letter & one number
		</mat-error>
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>New password again</mat-label>
		<input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
		<button mat-icon-button matSuffix (click)="togglePasswordVisibility('confirmPassword')" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
			<mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
		</button>
		<mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">
			Please confirm your password
		</mat-error>
		<mat-error *ngIf="passwordForm.hasError('passwordMismatch')">
			Passwords do not match
		</mat-error>
	</mat-form-field>
	<button class="button-create" mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">
		<mat-icon>done</mat-icon>
		Save
	</button>
</form>
