.container {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	width: auto;
	min-width: 400px;
}

.header {
	margin-bottom: 20px;
}

mat-form-field {
	width: 100%;
	margin-bottom: 25px;
}

.button-create {
	align-self: flex-end;
}

/* Add some spacing between the icon and text in the button */
.button-create mat-icon {
	margin-right: 8px;
}
