<div class="container">
	<h3>Archive delivery option?</h3>
	<p>Are you sure you want to archive delivery option: <b>{{doptName}}</b></p>
	<p>After archiving, this delivery option will not be assignable to new orders and will be hidden from all Connections.</p>
	<div class="action-row">
		<button mat-raised-button color="primary" (click)="confirm()">
			<mat-icon>done</mat-icon>
			Confirm
		</button>
		<button mat-raised-button  (click)="cancel()">
			<mat-icon>cancel</mat-icon>
			Cancel
		</button>
	</div>
</div>
