.container {
	padding: 20px;
	max-width: 500px;
}
mat-form-field {
	width: 100%;
	padding-top: 20px;
}
textarea {
	width: 100%;
	height: 275px;
}
pre {
	margin-top: 10px;
	background: #f4f4f4;
	border: 1px solid #ddd;
	border-left: 3px solid #cb011c;
	color: #666;
	page-break-inside: avoid;
	font-family: monospace;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1em 1.5em;
	display: block;
	word-wrap: break-word;
}
