@use 'sass:map';
@use '@angular/material' as mat;

@mixin menu-settings($theme) {

	$color-config: mat.m2-get-color-config($theme, 'primary');
	$primary-palette: map.get($color-config, 'primary');

	app-settings {
		.link-active, .link-active:focus {
			background: mat.m2-get-color-from-palette($primary-palette, 900);
			.item-text {
				color: mat.m2-get-contrast-color-from-palette($primary-palette, 900);
			}
		}
	}
}
