<h1>DELIVRIO</h1>
<h2 class="statement"><span class="text-red">Ship more</span> orders today</h2>
<div class="benefits">
  <div class="benefits-item">
    <mat-icon>shopping_cart</mat-icon>
    <span>
      <span class="text-grey">Display</span> dynamic delivery options
    </span>
  </div>
  <div class="benefits-item">
    <mat-icon>qr_code</mat-icon>
    <span>
      <span class="text-grey">Handle</span> orders with ease
    </span>
  </div>
  <div class="benefits-item">
    <mat-icon>print</mat-icon>
    <span>
      <span class="text-grey">Book</span> shipments automatically
    </span>
  </div>
</div>
