.already-wrapper {
	padding-top: 20px;
}
.current-step {
	font-size: 14px;
}

.stepper, .progress-bar {
	margin-top: 20px;
}

.sign-up-text {
	margin-top: 35px;
	margin-bottom: 15px;
}

.align-right {
	text-align: right;
}
.progress-bar {
	max-width: 421px;
}
