<ng-container *ngIf="apiTokens$|async; let state">
	<div class="page-header">
		<h3>Personal API tokens</h3>
		<span class="spacer"></span>
		<a [href]="docPath" target="_blank">
			<button mat-stroked-button>
				<mat-icon>link</mat-icon>
				API docs
			</button>
		</a>
		<button mat-fab extended color="primary" (click)="addNew()">
			<mat-icon>add</mat-icon>
			Add API token
		</button>
	</div>
	<div class="loading-bar">
		<mat-progress-bar *ngIf="state.loading" mode="indeterminate" />
	</div>
	<table mat-table [dataSource]="state.myAPITokens">
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef>Name</th>
			<td mat-cell *matCellDef="let element">{{element?.name}}</td>
		</ng-container>
		<ng-container matColumnDef="createdAt">
			<th mat-header-cell *matHeaderCellDef> Created </th>
			<td mat-cell *matCellDef="let element"> {{element.createdAt | date:"medium"}} </td>
		</ng-container>
		<ng-container matColumnDef="lastUsed">
			<th mat-header-cell *matHeaderCellDef> Last used </th>
			<td mat-cell *matCellDef="let element"> {{(element.lastUsed | date:"medium") || 'unused'}} </td>
		</ng-container>
		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef>  </th>
			<td mat-cell *matCellDef="let element">
				<button mat-icon-button (click)="deleteToken(element.id)">
					<mat-icon>delete</mat-icon>
				</button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</ng-container>

