$color-red: #e00440;

.panel-container {
  display: flex;
  height: 100vh;
  .left-panel, .right-panel {
	  flex-basis: 0;
    	flex-grow: 1;
    //height: 100%;
	  padding-left: 20px;
	  padding-right: 20px;
  }
  .left-panel {
	  padding-top: 50px;

    background: #000000;
    color: #FFFFFF;
  }
  .right-panel {
    .progress-bar {
      height: 15px;
    }

  }
}
