<div class="container" *ngIf="emails$|async; let state">
	<div class="inset-container">
		<div class="page-header">
			<h3>Email templates</h3>
			<span class="spacer"></span>
			<button (click)="addNew()" mat-fab extended color="primary">
				<mat-icon>add</mat-icon>
				Add template
			</button>
		</div>
		<div class="loading-bar">
			<mat-progress-bar *ngIf="state.loading" mode="indeterminate" />
		</div>
		<table mat-table [dataSource]="state.emailTemplatesList">

			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef>Name</th>
				<td mat-cell *matCellDef="let element">
					{{element.name}}
				</td>
			</ng-container>
			<ng-container matColumnDef="subject">
				<th mat-header-cell *matHeaderCellDef>Subject</th>
				<td mat-cell *matCellDef="let element">
					{{element.subject}}
				</td>
			</ng-container>
			<ng-container matColumnDef="mergeType">
				<th mat-header-cell *matHeaderCellDef>Merge type</th>
				<td mat-cell *matCellDef="let element">
					{{element.mergeType}}
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row
				class="row-container"
				*matRowDef="let row; columns: displayedColumns;"
				[routerLink]="editPath"
				[queryParams]="{id: row.id}"></tr>
		</table>
	</div>
</div>
